<h3 id="cabeceraEstadisticas">Estadísticas del contenido de la base de datos actual</h3>
<p id="cuerpoEstadisticas"> 
 El número de preguntas:  <%=statistics.n_preguntas%><br/>
 El número de comentarios totales: <%=statistics.n_comentarios%> <br/>
 El número medio de comentarios por pregunta: <%=statistics.promedio_comentarios%><br/>
 El número de preguntas sin comentarios: <%=statistics.preg_sin_com%><br/>
 El número de preguntas con comentarios: <%=statistics.preg_con_com%> <br/>
 El número de comentarios sin publicar: <%=statistics.comentarios_no_pub%>
</p>
